 @import
      url("https://fonts.googleapis.com/css?family=Poppons:400,500,700&display=swap");


      * {
         margin: 0;
         padding:0;
         box-sizing: border-box;
         font-family: "Poppins", sans-serif;
      }
      .button {
         height: 60px;
         width: 60px;
         margin: 10px;
         float: left;
         cursor: pointer;
         background: #fff;
         overflow: hidden;
         border-radius: 10px;
         line-height: 60px;

         transition: all 0.3s ease-in-out;
         box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
      }
      .button .icon{
         height: 60px;
         width: 60px;
         display: inline-block;
         transition: all 0.3s ease-in-out;
         text-align: center;
         border-radius: 10px;
      }

      .button .icon i{
         font-size: 25px;
         transition: all 0.3s ease-in-out;
         line-height: 60px;

      }


      .button span{
         font-size: 20px;
         font-weight: 500;
         line-height: 60px;
         margin-left: 10px;
      }

      .button:nth-child(1):hover .icon{
         background: #4267b2;
      }

      .button:nth-child(1)span{
         color: #4267b2;
      }

      .button:hover i{
         color:  #fff;
      }




      .button:hover {
         width: 200px;
      }
      .background_image {
         background-image: url('./RV_FINAL_Rom.jpg');
         background-size: cover;
         background-repeat: no-repeat;
         height: 100vh;
         
      }
